<h3>Crear Cliente</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre(s)</label>
      <input type="text" class="formControl" id="name" required [(ngModel)]="costumer.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Apellido Paterno</label>
      <input type="text" class="formControl" id="name" required [(ngModel)]="costumer.middleName" name="middleName">
    </div>

    <div class="form-group">
      <label for="name">Apellido Materno</label>
      <input type="text" class="formControl" id="name" required [(ngModel)]="costumer.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Correo Electronico</label>
      <input type="text" class="formControl" id="name" required [(ngModel)]="costumer.email" name="email">
    </div>

    <div class="form-group">
      <label for="name">Direccion</label>
      <input type="text" class="formControl" id="name" required [(ngModel)]="costumer.address" name="address">
    </div>

    <div class="form-group">
      <label for="name">Telefono</label>
      <input type="text" class="formControl" id="name" required [(ngModel)]="costumer.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="name">Generacion</label>
      <input type="text" class="formControl" id="name" required [(ngModel)]="costumer.generation" name="generation">
    </div>
    <button type="submit" class="btn btn-success">Aceptar</button>

  </form>
</div>

<div [hidden]="!submitted">
  <h4>Información Agregada</h4>
</div>
